nodered-data/flows.json
[
    {
        "id": "cc652f9e594df6dc",
        "type": "tab",
        "label": "Teste-1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4707469cb5c18dd8",
        "type": "tab",
        "label": "Teste-2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "82d4fa798e2d8148",
        "type": "inject",
        "z": "cc652f9e594df6dc",
        "d": true,
        "name": "Entrada",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "canal",
                "v": "DaviNunes",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "e65009d51e359702"
            ]
        ]
    },
    {
        "id": "28d259a94b7ac67b",
        "type": "debug",
        "z": "cc652f9e594df6dc",
        "name": "Saida",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "4bfd63521710ab5f",
        "type": "function",
        "z": "cc652f9e594df6dc",
        "name": "function 1",
        "func": "// let data=new Date(msg.payload);\n// msg.canal=data.toString();\n// let num=Math.random()*10;\n// msg.canal=num;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "28d259a94b7ac67b"
            ]
        ]
    },
    {
        "id": "e65009d51e359702",
        "type": "random",
        "z": "cc652f9e594df6dc",
        "name": "Sorteio",
        "low": "0",
        "high": "50",
        "inte": "true",
        "property": "canal",
        "x": 400,
        "y": 100,
        "wires": [
            [
                "4bfd63521710ab5f"
            ]
        ]
    },
    {
        "id": "4d847ac95a54b959",
        "type": "inject",
        "z": "4707469cb5c18dd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "entrada1",
        "payloadType": "str",
        "x": 180,
        "y": 40,
        "wires": [
            [
                "a494963e9f039704"
            ]
        ]
    },
    {
        "id": "a494963e9f039704",
        "type": "function",
        "z": "4707469cb5c18dd8",
        "name": "function 2",
        "func": "if(msg.payload == \"entrada1\"){\n    msg.payload=1;\n    return [msg, null];\n} else if (msg.payload == \"entrada2\") {\n    msg.payload = 2;\n    return [null, msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 100,
        "wires": [
            [
                "c0f3071b0275df4c"
            ],
            [
                "d581573acc1d2d4d"
            ]
        ]
    },
    {
        "id": "c0f3071b0275df4c",
        "type": "debug",
        "z": "4707469cb5c18dd8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "d581573acc1d2d4d",
        "type": "debug",
        "z": "4707469cb5c18dd8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "07862a790f1397cf",
        "type": "inject",
        "z": "4707469cb5c18dd8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "entrada2",
        "payloadType": "str",
        "x": 180,
        "y": 160,
        "wires": [
            [
                "a494963e9f039704"
            ]
        ]
    }
]